.aboutme{
    position: absolute;
    left: -20px;
    top: 20px;
    z-index:-1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.aboutme-card{
    background-color: #e1e2e2;
    color: #1c2b24;
    border-radius: 4px;
    max-height: 410px;
}

.card-header{
    text-align: start;
    margin: 0;
    /* padding:0 0 10px 0; */
    border-bottom: 1px solid #ffffff;
    background-color: none;
    color: #1c2b24;
}

.card-header h3{
    margin: 0 0 0 20px;
}

.card-header h3 b{
    color: #f13033;
}

.list-group li{
    border: none;
    background-color: #e1e2e2;
    color: #1c2b24;
}

.card ul li{
    text-align: start;
    margin: 0 0 0 20px;
}