.navbar{
    margin:0 auto;
    width:70%;
    height: 560px;
    background-color: #e1e2e2;
    text-align: center;
    /* border-radius: 4px; */
}

.navbar-logo{
    width:5.2rem;
}

.nav-item{
    width: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight:500;
}

.collapse{
    margin-top: 100px;
}

#link{
    text-decoration: none;
    color:#1c2b24;
    margin-bottom: 15px;
}

#link:hover{
    color: #f13033;
    border-radius: 4px;
    font-weight:bold;
}

.Link:hover{
}

.profile-icon,.resume-icon,.contact-icon,.project-icon {
    font-size: 2rem !important;
}