.navbar {
    margin: 30px 7px 0;
    height: 580px;
    background-color: #faf6f3;
    text-align: center;
    /* border-radius: 4px; */
}

.navbar-logo{
    width:5.2rem;
}

.nav-item{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.9rem;
    text-transform: uppercase;
    /* letter-spacing: 1.5px; */
    font-weight:500;
}

.collapse{
    margin-top: 100px;
}

#link {
    text-decoration: none;
    color: #1c2b24;
    padding: 15px 0;
    transition: 0.5s ease;
    border-bottom: solid 1px #cfcece;
}

#link:hover{
    color: #f13033;
    border-radius: 4px;
    font-weight:bold;
}

.Link:hover{
}

.profile-icon, .resume-icon, .contact-icon, .project-icon {
    font-size: 1.8rem !important;
    margin-bottom: 5px;
}