.profile-card{
    /* width: 600px; */
}

.profile-card .card{
    height: 560px;
}

.card{
    border: none;
}

.card-body h3{
    margin-top: 40px;
}

/* .mypic{
    position: relative;
}

.mypic img{
    height: 150px;
    width: 150px;
    border-radius: 50px;
    position: absolute;
    top: -100px;
    left: 150px;
    object-fit: cover;

} */

.carousel-inner{
    border-radius: 4px;
}

#name{
    margin-top: 20px;
}

#name, #job{
    color: #1c2b24;
}