body{
    background-color:#1c2b24;
    font-family: 'Inconsolata', monospace;
    /* font-family: 'Rubik', sans-serif; */
}

.container{
    max-width: 1240px;
    margin: 80px auto;
}

.col-md-4{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.col-md-6{
    position: relative;
}
